<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Leanne Graham's Homepage</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <div class="container-fluid">
    <div class ="row doubleColumn">
      <div class="col-sm-5 mx-auto shadow p-3 mb-5 bg-white rounded">
        <img src="/img/image.jpg" class="img-fluid" alt="Responsive image">
        <div class="container">
          <div class="container-content"><h2><%= name %></h2></div>
        </div>
      </div>
      <div class="col-sm-5 mx-auto shadow p-3 mb-5 bg-white rounded">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>
  <script src="/bootstrapJS/bootstrap.js" type="text/javascript"></script>
</body>
</html>